	<div class="entries">
        {{#result}}
            {{#records}}
                <table class="table table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td class="success" >{{category}}</td>
                        <td class="warning">{{available}}</td>
                        <td class="info" >{{category-slug}}</td>
                    </tr>
                    </tbody>
                </table>
            {{/records}}
        {{/result}}
    </div>
